body{
    background-image: url(../img/pozadi2.jpg);
}

header{
    background-image: url(../img/pozadi2.jpg);
}

h1 {
    background-image: url(../img/pozadi2.jpg);
    color: white;
    text-align: center;
}
